{% extends "auth/auth_root.html" %}

{% block auth_form %}
<div class="login-wrap p-4 p-md-5">
  <div class="d-flex">
    <div class="w-100">
      <h3 class="mb-4">Recover Password</h3>
    </div>
  </div>
  <form class="signin-form" method="POST">
    <div class="form-group mt-3">
      <input type="text" class="form-control" name='email' required>
      <label class="form-control-placeholder" for="email">E-mail</label>
    </div>
    <p>Please only press the reset button once, and be patient for your browser to load once you do!</p>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary rounded submit px-3">Reset Password</button>
    </div>
  </form>
</div>
{% endblock %}



