{% extends "auth/auth_root.html" %}


{% block auth_form %}
<div class="login-wrap p-4 p-md-5">
  <div class="d-flex">
    <div class="w-100">
      <h3 class="mb-4">Sign up</h3>
    </div>
  </div>
  <form method="POST" class="signin-form">
    <div class="form-group mt-3">
      <input type="text" class="form-control" name='username' required>
      <label class="form-control-placeholder" for="username">Username</label>
    </div>
    <div class="form-group mt-3">
      <input type="text" class="form-control" name='email' required>
      <label class="form-control-placeholder" for="email">E-mail</label>
    </div>
    <div class="form-group mt-5">
      <input id="password-field" type="password" name="password" class="form-control" required>
      <label class="form-control-placeholder" for="password">Password</label>
      <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group mt-5">
      <input id="password-confirm-field" type="password" name="password_confirm" class="form-control" required>
      <label class="form-control-placeholder" for="password">Confirm Password</label>
      <span toggle="#password-confirm-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group">
      <button type="submit" class="form-control btn btn-primary rounded submit px-3">Sign Up</button>
    </div>
      <div class="w-50 text-md-right">
      </div>
    </div>
  </form>
  <p class="text-center">Already a member? <a data-toggle="tab" href="{{url_for('main.sign_in_page')}}">Sign in</a></p>
</div>
{% endblock %}
