{% extends "auth/auth_root.html" %}

{% block title %}Sign in{% endblock %}

{% block auth_form %}
<div class="login-wrap p-4 p-md-5">
  <div class="d-flex">
    <div class="w-100">
      <h3 class="mb-4">Log In</h3>
    </div>
  </div>
  <form class="signin-form" method="POST">
    <div class="form-floating mt-3">
      <input type="text" class="form-control" id="password" name='email' placeholder=' ' required>
      <label class="form-control-placeholder" for="email">E-mail</label>
    </div>
    <div class="form-floating mt-3">
      <input id="password-field" type="password" id="password" name="password" class="form-control" placeholder=' ' required>
      <label class="form-control-placeholder" for="password">Password</label>
    </div>
    <div class="form-group mt-3">
      <button type="submit" class="form-control btn btn-primary rounded submit px-3">Log In</button>
    </div>
    <div class="d-flex justify-content-between align-items-center mt-3">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="rememberMe" name="rememberMe" checked>
        <label class="form-check-label" for="rememberMe">Remember Me</label>
      </div>
      <div>
        <a href="{{url_for('main.forgot_password_page')}}" class="text-decoration-none small">Forgot Password?</a>
      </div>
    </div>  
  </form>
  <p class="text-center">Not a member? <a data-toggle="tab" href="{{url_for('main.sign_up_page', next=request.args.get('next'))}}">Sign Up</a></p>
</div>
{% endblock %}

