{% extends "root.html" %}

{% block title %}Log Burn{% endblock %}

{% block content %}
<style>

  .quick-prop-button {

  }

  .square {
    aspect-ratio: 1 / 1;
  }


</style>
<form method="post">
  <div class="card m-2">
    <div class="card-body p-2">
      <div class="d-flex flex-row">
          <label for="burn_date" class="col-form-label mx-2">Date:</label>
          <input type="date" class="form-control ms-1" id="burn_date" name="burn_date" step="any">
      </div>
    </div>
  </div>
  <div class="card m-2">
    <div class="card-body p-2">
      <div class="d-flex flex-row">
        <label for="burn_location" class="col-form-label mx-2">Location:</label>
        <input type="text" class="form-control ms-1" id="burn_location" name="burn_location" value="{{ current_user.burns[-1].location if current_user.burns else ''}}">
      </div>
    </div>
  </div>
  <div class="card m-2">
    <div class="card-body p-2">
      <div class="d-flex flex-row">
        <label for="burn_prop" class="col-form-label mx-2">Prop:</label>
        <input type="text" class="form-control ms-1" id="burn_prop" name="burn_prop" value="">
      </div>
    </div>
    {% if quick_props and quick_props|length > 0 %}
    <div class="card-body border-top pt-1 prop_quick_pick" aria-label="Toggle buttons">
      {% set rows = quick_props|length // 3 + (1 if quick_props|length % 3 > 0 else 0) %}
      {% for row in range(rows) %}
      <div class="row">
        {% for col in range(3) %}
          {% set index = row * 3 + col %}
          {% if index < quick_props|length %}
          <div class="col square p-1 d-flex align-items-center justify-content-center" onclick="clickQuickProp('{{quick_props[index]}}')">
            <input type="checkbox" class="btn-check" id="quick_prop" autocomplete="off">
            <label class="btn btn-outline-primary w-100 h-100 d-flex align-items-center justify-content-center" for="btn-check">{{quick_props[index]}}</label>
          </div>
          {% else %}
          <div class="col square p-1 d-flex align-items-center justify-content-center">
          </div>
          {% endif %}
        {% endfor %}
      </div>
      {% endfor %}
    </div>
    {% endif %}
  </div>
  <div class="card m-2">
    <div class="card-body p-2">
      <div class="d-flex flex-row">
        <label for="burn_notes" class="col-form-label mx-2">Notes:</label>
        <input type="text" class="form-control ms-1" id="burn_notes" name="burn_notes" value="">
      </div>
    </div>
  </div>
  {% if current_user.burns %}
  <div class="m-3">
    <p>Last burn logged ({{current_user.burns[-1].time}}):<br>{{current_user.burns[-1].prop}} at {{current_user.burns[-1].location}}</p>
  </div>
  {% endif %}
  <div class="m-2">
    <button type="submit" class="btn btn-primary btn-lg w-100">Submit</input>
  </div>
</form>
{% endblock %}

{% block js %}
<script>
  function clickQuickProp(prop) {
    const prop_field = document.getElementById("burn_prop");
    prop_field.value = prop;
  }
</script>
<script>
function getCurrentDateInTimezone() {
    const timeZone = Intl.DateTimeFormat().resolvedOptions().timeZone;
    const now = new Date();

    const formattedDate = new Intl.DateTimeFormat('en-CA', {
        year: 'numeric',
        month: '2-digit',
        day: '2-digit',
        timeZone: timeZone,
    }).format(now);

    return formattedDate; // This will output in "YYYY-MM-DD" format
}
document.getElementById('burn_date').value = getCurrentDateInTimezone()
</script>
{% endblock %}

