{% extends 'root.html' %}

{% block content %}
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-7 col-lg-7">
					<div class="wrap">
            <!--
              <div class="img" style="background-image: url({{url_for('static', filename='images/aswan.jpg')}});"></div>
            -->
<div class="container">
  <div class="card my-3">
    <div class="card-body">
      <form method="POST">
        <div class="form-group">
          <label for="location">Location:</label>
          <input type="text" class="form-control" id="location" name="location" value="{{last_location}}">
        </div>
        <div class="form-group">
            <label for="date">Date:</label>
            <input type="date" class="form-control" id="date_today" name="date_today" value="{{date_today}}" step="any">
        </div>
        <div class="form-group">
          <label for="prop">Prop:</label>
          <input type="text" class="form-control" id="prop" name="prop" step="any">
        </div>
        <div class="form-group">
          <label for="notes">Notes:</label>
          <input type="text" class="form-control" id="notes" name="notes">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>


  <div class="card my-3">
    <div class="card-body">
      <form method="POST" enctype=multipart/form-data>
        <input type=file name=file>
        <input type=submit value=Upload>
        
      </form>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Location</th>
            <th scope="col">Date</th>
            <th scope="col">Prop</th>
            <th scope="col">Notes</th>
            <th scope="col"></th>
            <th scope="col"></th>
          </tr>
        </thead>
        <tbody>
          {% for burn in spinner.burns %}
          <tr>
            <td>{{burn.location}}</td>
            <td>{{burn.time}}</td>
            <td>{{burn.prop}}</td>
            <td>{{burn.notes}}</td>
            <td><button type="button" class="btn btn-secondary" onclick="window.location.href = '/burn/{{burn.id}}/edit.html';">Edit</button></td>
            <td><button type="button" class="btn btn-secondary" onclick="delete_burn({{burn.id}}); window.location.reload();">Delete</button></td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
		      </div>
				</div>
			</div>
		</div>

{% endblock %}
{% block js %}
<script>
function delete_burn(id) {
  fetch('/burns/'+id+'.html', {
    method: 'DELETE'
  })
}
</script>
{% endblock %}
